body{
    font-family: 'Roboto', sans-serif;
}

.bg-yellow{
    background-color: #EAC926;
}

.bg-blue{
    background-color: #03264C;
}

.bg-light-blue{
    background-color: #1259c3;
}

.bg-dark-grey{
    background-color: #666;
}

.bg-light-grey{
    background-color: #ebebeb;
}

.bg-green{
    background-color: #39b54a;
}

.w-50{
    width: 50%;
}

.c-red{
    color: red;
}
.p-1 {
    padding: 8px;
}