*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input {
    min-width: 0;
}

li {
    list-style: none;
    padding: 0;
}

ul{
    list-style-type: none;
}

body{
    font-family: 'Roboto', sans-serif;
}
body{
    font-size: 12px;
}

h2{
    font-size: 24px;
}

article-pr{
    font-size: 18px;
}

article-desc{
    font-size: 16pxs;
}

.text-decoration{
    text-decoration: none;
}

.bg-yellow{
    background-color: #EAC926;
}

.bg-blue{
    background-color: #1259c3;
}

.bg-light-blue{
    background-color: #1259c3;
}

.bg-dark-grey{
    background-color: #666;
}

.bg-light-grey{
    background-color: #ebebeb;
}

.color-green{
    color: #39b54a;
}

.w-50{
    width: 50%;
}

.c-red{
    color: red;
}
.p-1 {
    padding: 8px;
}

.p-2 {
    padding: 20px;
}
  
.py-1 {
    padding-top: 8px;
    padding-bottom: 8px;
}
  
.my-1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

img{
    width: 150px;
}

.vm-90 {
    width: 90vw;
}

.w-100 {
    width: 100%;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.mb-10{
    margin-bottom: 10px;
}

.bt{
    border-top: 1px;
}

.b-1{
    border-style: solid;
}

.bt-1 {
    border-top-style: solid;
    border-top-width: 1px;
 }

.border-grey{
    border-color: #ebebeb;
}

.b-none {
    border: none;
}

.bg-white {
    background-color: white;
}

.bold {
    font-weight: bold;
}

.product-shadow {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
  
.relative {
    position: relative;
}
  
.truck-icon {
    color: green;
    border: green solid 1px;
    border-radius: 50%;
    padding: 5px;
    position: absolute;
    right: 15px;
    top: -15px;
}

/* tablet */
@media (min-width: 481px) {
    .md-w-50 {
      width: 48%;
    }
}

/*desktop*/
@media (min-width: 769px){
    .lg-w-25 {
        width: 23%;
      }
}

.font-m.font-m {
    font-size: 12px;
}
.font-lg {
    font-size: 16px;
}

.font-xl {
    font-size: 18px;
}

.title {
    font-size: 24px;
}
  
.nav-link {
    text-decoration: none;
    color: inherit;
}

.color-white {
    color: white;
}
  
.text-center {
    text-align: center;
}
  
.round {
    border-radius: 50%;
}
  
.radius-1 {
    border-radius: 5px;
}
  
.mr-1 {
    margin-right: 8px;
}
  
.flex {
    display: flex;
}
  
.flex-wrap {
    flex-wrap: wrap;
}
  
.flex-grow {
    flex-grow: 1;
}
  
.gap {
    gap: 10px;
}
  
.align-center {
    align-self: center;
}
  
.outline-none {
    outline: none;
}
  
.hide {
    display: none;
}
 
.product-shadow {
    box-shadow: none;
}

.description {
    display: none;
}

.product:hover .description {
    display: block;
  }

footer{
    background-color: white;
    padding: 40px 10px;
    display: flex;
    flex-wrap: wrap;
}

.footer-article{
    text-align: center;
    width: 100%;
}

.copyright-footer{
    text-align: center;
    width: 100%;
}

.footer-icon{
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
    transition: all 0.3s;
}

.footer-icon:hover{
    color: #0022AA;
}

.footer-text{
    margin-bottom: 30px;
}

.register {
    width: 70%;
}

.login{
    width: 70%;
}

.main-title{
    width: 100%;
    margin: 20px 0;
}

.createaccount {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 30px;
}

.form-div{
    width: 100%;
    margin-bottom: 15px;
}

.name-div{
    width: 49%;
}

.names-input{
    width: 100%;
}

.form-input{
    padding: 15px;
}

.label-title{
    font-size: 1rem;
    font-weight: 500;
}

.user-profile-option{
    width: 100%;
    margin-top: 13px;
}

.intcategory{
    width: 100%;
    margin-top: 13px;
}